nav{
    background-color: rgb(111, 204, 216);
    padding: 10px;
}
nav a {
    color: rgb(252, 244, 144);
    display: block; 
    padding: 20px;
}
h1 {
    color: rgb(111, 204, 216);
}
img {
    width: 150px;
    height: auto;
    border: 5px solid rgb(111, 204, 216);
    padding: 2pxl
    box-shadow: 10px 5px 5px yellow;
}
p {
    padding: 10px;
}