nav{
    background-color: rgb(111, 204, 216);
    padding: 10px; border: 5px dotted rgb(252, 244, 144);
}
nav a {
    color: rgb(252, 244, 144);
    display: block; 
    padding: 20px;
}
h1 {
    color: rgb(111, 204, 216);
}
main {

img {
    max-width: 150px;
    height: auto;
    border: 5px solid rgb(111, 204, 216);
    padding: 2pxl
    box-shadow: 10px 5px 5px yellow;
}
p {
    padding: 0px; 
    content: rgb(252, 244, 144);
}
}
    aside {
    border: 5px dotted rgb(252, 244, 144);

    }


footer {
    text-align: center;
    margin-top: auto;
    border-top: 5px;
}